#pragma once

#define INFLUX_BASE_URL         ""
#define INFLUX_API_KEY          ""
#define INFLUX_ORGANISATION     ""
#define INFLUX_BUCKET           ""
#define WIFI_SSID               ""
#define WIFI_PASSWORD           ""

